

#login {
  width: 350px;
  position: relative;
  margin: auto;

  top: 50%;
  transform: translateY(50%);

  border-radius: 20px;
  border: 1px solid #CCC;
  padding: 40px 40px 40px;
}

label {
  font-size: 20px;
}

.field {
  width: 93%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 18px;
}

.button {
  width: 60%;
  position: relative;
  padding: 12px;
  margin-top: 4px;
  left: 20%;
  font-size: 20px;
}
